:root {
    --text-color-1: #df9f07;
    --text-color-2: #df9f07 ;
    --text-color-3: #757575;
    --text-color-4:#df9f07;
    --img-border-color: #a8701b;
    --nav-bg-color: #B6060D;
    --nav-collapse-color: #ffffff;
    --nav-border-color:rgba(0,0,0,0.1);
    --nav-font-color:#df9f07;
    --footer-bg-color: #ffffff;
    --couple-name-font-size: 50px;
    --rsvp-placeholder-color:#ffffff;
    --wedding-content-font-size: 22px;
    --event-desc-bg: #ffffff;
    --time-line-divider: #D5CEC8;
    --virtual-button-color:#df9f07;
    --count-down-bg: #d4d6d53d;
    --our-story-font: roboto;
    --event-title-font: "Roboto Slab", serif;
    --couple-name-font:'Nickainley',cursive;
    --date-venue-font:'Montserrat',sans-serif;
    --section-title-font:'perpeta';
    --section-content-font: 'Roboto Slab',sans-serif;
    --section-content-font-2:'Roboto', sans-serif;
    --rsvp-color:#ffffff;
    --rsvp-background-color:#b77530;
    --rsvp-checkbox-color:#fff;
    --rsvp-submit-color:#fff;
    --guestbook-color: #df9f07;
    --guestbook-placeholder-color:#df9f07;
    --guestbook-background-color:#df9f07;
    --time-line-dot: url("../../images/dot/dot-18.png");
    --body-background: url('../../images/background/background-18.png');
    --banner-image: url('../../images/banner/theme18.jpg');
    --divider-image: url('../../images/divider/divider-img-18.png');
    --frame-left-top: url("../../images/frames/df9f07/left-top.png");
    --frame-right-top: url("../../images/frames/df9f07/right-top.png");
    --frame-left-bottom: url("../../images/frames/df9f07/left-bottom.png");
    --frame-right-bottom: url("../../images/frames/df9f07/right-bottom.png");
    --rsvp-frame-left-top: url("../../images/frames/ffffff/left-top.png");
    --rsvp-frame-right-top: url("../../images/frames/ffffff/right-top.png");
    --rsvp-frame-left-bottom: url("../../images/frames/ffffff/left-bottom.png");
    --rsvp-frame-right-bottom: url("../../images/frames/ffffff/right-bottom.png");
    --guestbk-frame-left-top: url("../../images/frames/ffffff/left-top.png");
    --guestbk-frame-right-top: url("../../images/frames/ffffff/right-top.png");
    --guestbk-frame-left-bottom: url("../../images/frames/ffffff/left-bottom.png");
    --guestbk-frame-right-bottom: url("../../images/frames/ffffff/right-bottom.png");
}