/* Fonts needed for this theme*/
@font-face {
    font-family: 'Nickainley';
    src: url('../fonts/nickainley/nickainley.otf');
}
@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat.otf');
}
@font-face{
    font-family: 'perpeta';
    src: url('../fonts/perpeta/perpeta.ttf');
}
#header-logo {
  max-width: 260px !important;
}
.body-background {
    background-repeat: repeat !important;
    background: var(--body-background);
    background-size: auto !important;
    background-color: #fff;
  }
  h1.couple-name,
  .footer-name {
    text-transform: capitalize !important;
    font-weight: 400;
  }
  .footer-name{
    font-size: 50px;
  }
  .footer-date{
    font-size: 24px !important;
    font-weight: bold;
    text-transform: capitalize !important;
  }
  .primary-footer{
    padding: 20px 0 !important;
    background:#fff !important;
  }
  .event-name, .travel-head{
    color: #b60d0d;
  }
 #buy-gift{
    color: var(--nav-bg-color) !important;
  }
  .arrow-cls {
    background: #b60d0d !important;
    color: #ffffff !important;
  }
  .css-shape:after {
    border-left: 15px solid #b60d0d !important;
  }
  .css-shape:before {
    border-right: 15px solid #b60d0d !important;
  }
  .section-title {
    color: #B6060D !important;
  }
  .ourstory-all-sections p {
    color: #757575 !important;
  }
  .wedding-content{
    padding: 10px 0 !important
  }
  .wedding-date, .wedding-venue{
    font-size: 22px !important;
    line-height: 1.4 !important;
    font-weight: 700 !important;
    text-transform: capitalize !important;
  }
  
  .wedding-date, .wedding-venue{
    letter-spacing: 2px;
  }
  .section-title{
      padding: 0px 15px 22px 15px !important;
      margin-bottom: 30px !important;
      line-height: 1 !important;
  }
  .ourstory-section {
    border: 1px solid #f3d5af !important;
  }
  .event-description-container{
    border:2px solid #df9f07 !important;
  }
  .before-wedding p{
    font-weight: 300 !important;
  }
  .bottom-countdown .countdown-banner .timer,
  .countdown-section, .thanks-banner {
    color: #B6060D !important;
  }
  .bottom-countdown .countdown-value .title{
    color: #757575 !important;
  }
  label{
      color: #fff !important;
  }
  #rsvp_submit{
      color: #fff;
  }
  .line {
    border-top: 1px solid transparent;
  }
  .footer-name,.footer-date{
    color: #df9f07 !important;
  }
  .rsvp-input::placeholder, .rsvp-text-area::placeholder, .join-meeting-wrapper input::placeholder, .join-meeting-wrapper textarea::placeholder
  {
    color: #fff !important;  
  }
  @media screen and (min-width:1200px){
    .container{
      max-width: 1170px;
    }
    li.nav-item {
      padding: 0 10px 34px;
    }
    #header-logo {
        top: 10px !important;
    }
  }
  @media only screen and (max-width: 1199px) and (min-width: 992px){
    li.nav-item {
      padding: 0 5px 34px;
    }
    #header-logo {
        top: 10px !important;
    }
  }
  @media only screen and (max-width: 991px) and (min-width: 768px){
    li.nav-item {
      padding: 0 5px 34px;
    }
    #header-logo {
        top: 10px !important;
        width: 150px !important;
    }
    .footer-name{
      font-size: 32px;
    }
  }
  @media screen and (max-width:767px){
    #header-logo{
      width: 85px !important;
    }
    li.nav-item{        
        border-bottom: 1px solid var(--nav-border-color) !important;
    }
    .wedding-date, .wedding-venue{
      font-size: 15px !important;
      letter-spacing: 1px !important;
    }
    h1.couple-name{
      line-height: 1.2 !important;
      letter-spacing: 0px !important;
      font-size:32px !important;
    }
    .ourstory-all-sections p{
      font-size: 15px !important;
    }
    .footer-date {
      font-size: 18px !important;
    }
    .ww-nav .nav-item a {
      color: var(--nav-bg-color) !important;
    }
    .footer-name{
      font-size: 32px !important;
    }
    .footer-logo{
      max-width: 35% !important;
    }
  }
  @media (min-width: 768px) {
    .image-container-1{
      max-width: 100% !important;
    }
  }
  .today-banner .button-section > a.btn,
  .today-banner .button-section > a.btn:hover {
    color: #B6060D !important;
    border-color: #B6060D !important;
  }